<header class="container">
  <h1><a href="/">Myungseok Oh</a></h1>
  <nav>
    <ul>
      <li><a href="/"{% if page.url == '/' %} aria-current="page"{% endif %}>news</a></li>
      <li><a href="/works/"{% if page.url == '/works/' %} aria-current="page"{% endif %}>works</a></li>
      <li><a href="/recordings/"{% if page.url == '/recordings/' %} aria-current="page"{% endif %}>recordings</a></li>
      <li><a href="/publications/"{% if page.url == '/publications/' %} aria-current="page"{% endif %}>publications</a></li>
      <li><a href="/biography/"{% if page.url == '/biography/' %} aria-current="page"{% endif %}>biography</a></li>
      <li><a href="/contact/"{% if page.url == '/contact/' %} aria-current="page"{% endif %}>contact</a></li>
      <li><button id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode">🌓</button></li>
    </ul>
  </nav>
  <hr />
</header>
