---
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Myungseok Oh | Researcher, Sound Artist, Based in Seoul</title>
  <meta name="description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAwUBAO2A9gAAAABJRU5ErkJggg==" type="image/png" />
  <meta property="og:title" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta property="og:description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta property="og:image" content="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAwUBAO2A9gAAAABJRU5ErkJggg==" />
  <meta property="og:url" content="https://hearenzo.github.io/works/" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta name="twitter:description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta name="twitter:image" content="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAwUBAO2A9gAAAABJRU5ErkJggg==" />
</head>
<body>
  {% include header.html %}
  <main class="container">
  <h2>works</h2>
  <h3>artistic statement</h3>
  <p>
Creating art using sound is a process that is not entirely within my control. It is the
result of both my experiences and choices. The completed work is the result of
my decisions, which are made under circumstances that I cannot always predict
or control. This is similar to the path that life takes us on, where we cannot go
back to the crossroads that we have already passed. The creative process is like
a prism that refracts light, and it represents my approach to life and my work.
  </p>
  <p>
The human eye perceives light as a single color, but most people understand that
there are multiple colors within a single beam of light. This is because of the
prism, which can disperse light and reveal its various hues. The prism allows us to
explore the essence of things, rather than accepting the information presented to
us at face value. This is the effect that I hope my work will have on its audience. I
aspire to create art that delves deeper into the essence of things, that doesn't just
accept information at face value, and that goes beyond virtual or replicated
reality.
  </p>
  <p>
Imagine making plans to meet someone. Instead of moving physically, we use our
smartphones to calculate the fastest route to the meeting place. If public
transportation is delayed, we blame the physical world rather than the virtual one.
This is a paradoxical attitude, as we live our lives according to the virtual
information that we receive but are unhappy when it doesn't align with the
physical reality. Through my art, I hope to function as a prism, revealing a deeper,
truer essence of reality.
  </p>
  <p>
Therefore, my exhibited works are natural elements that are intertwined with our
daily lives. I deconstruct familiar objects and elements to create my works. The
scent of my perfume, the withered trees of autumn, the concrete used in seawalls
on the opposite side of the globe, and the space in which I live are all elements
that I use. The resulting work is not just an end product but a reflection of my
experiences, choices, and the essence of the natural elements that inspired it.
  </p>
<ul class='list'>
<li><a href="/works/trans-2023/">&quot;TRANS&quot; - Dance</a> <span class="meta">2023</span></li>
<li><a href="/works/hotel-meta-2022/">&quot;Hotel Meta&quot; - VR Exhibition</a> <span class="meta">2022</span></li>
<li><a href="/works/decodification-live-2022/">&quot;Decodification&quot; - Live Electronics</a> <span class="meta">2022</span></li>
<li><a href="/works/sensation-discovery-2022/">&quot;Sensation and Discovery&quot;: Playground of Eight Sounds - Sound Installation</a> <span class="meta">2022</span></li>
<li><a href="/works/exploration-eight-sounds-2022/">&quot;Exploration of Eight Sounds&quot; - Live Electronics</a> <span class="meta">2022</span></li>
<li><a href="/works/erasing-silence-2022/">&quot;Erasing Silence&quot; - VR Exhibition</a> <span class="meta">2022</span></li>
<li><a href="/works/to-my-mojave-2021/">&quot;To My Mojave&quot; - Experimental Film</a> <span class="meta">2021</span></li>
<li><a href="/works/the-elements-for-electro-acoustics-2021/">&quot;The Elements for Electro Acoustics&quot; - Electroacoustic Research</a> <span class="meta">2021</span></li>
<li><a href="/works/salvation-from-melancholy-2021/">&quot;Salvation from Melancholy&quot; - Live Electronics</a> <span class="meta">2021</span></li>
<li><a href="/works/sonification-project-2019/">&quot;Sonification Project&quot; - Exhibition</a> <span class="meta">2019</span></li>
<li><a href="/works/zen-2019/">&quot;Zen&quot; - Sound Art</a> <span class="meta">2019</span></li>
<li><a href="/works/we-do-not-recall-2015/">&quot;WE DO NOT RECALL&quot; - Dance Film</a> <span class="meta">2015</span></li>
</ul>
  </main>
  {% include footer.html %}
</body>
</html>