---
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Myungseok Oh | Researcher, Sound Artist, Based in Seoul</title>
  <meta name="description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAwUBAO2A9gAAAABJRU5ErkJggg==" type="image/png" />
  <meta property="og:title" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta property="og:description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta property="og:image" content="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAwUBAO2A9gAAAABJRU5ErkJggg==" />
  <meta property="og:url" content="https://hearenzo.github.io/works/we-do-not-recall-2015/" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta name="twitter:description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta name="twitter:image" content="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAwUBAO2A9gAAAABJRU5ErkJggg==" />
</head>
<body>
  {% include header.html %}
  <main class="container">

<h2>&quot;WE DO NOT RECALL&quot;</h2>
<p class="meta">2015</p>
<div class="video-container">
  <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/5eo1pxXyBXQ"
          title="&quot;WE DO NOT RECALL&quot;" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
<p><strong>Sponsored by</strong>: Experimental Film Virginia</p>
<p><strong>Director</strong>: Adi Halfin</p>
<p><strong>Choreography by</strong>: Duane Cyrus, Mikie Thomas, Lance Pong, Matteo Marziano Graziano</p>
<p>This dance film was screened at the ‘Gibney Dance Company’ in 2015. It was produced with the support of the 2015 Experimental Film Virginia program. The creator participated in the production of this work as a resident artist (intern) within the program.</p>
<p><strong>Copyright © Experimental Film Virginia All rights reserved.</strong></p>
<p><a href="/works/">← back</a></p>

  </main>
  {% include footer.html %}
</body>
</html>
