---
title: '"Erasing Silence" - VR Exhibition'
year: 2022
preview: /assets/img/work-placeholder.svg
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Myungseok Oh | Researcher, Sound Artist, Based in Seoul</title>
  <meta name="description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <link rel="stylesheet" href="/assets/css/styles.min.css" />
  <link rel="icon" href="/assets/img/favicon.svg" type="image/svg+xml" />
  <meta property="og:title" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta property="og:description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta property="og:image" content="https://hearenzo.github.io/assets/img/og.svg" />
  <meta property="og:url" content="https://hearenzo.github.io/works/erasing-silence-2022/" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta name="twitter:description" content="Myungseok Oh | Researcher, Sound Artist, Based in Seoul" />
  <meta name="twitter:image" content="https://hearenzo.github.io/assets/img/og.svg" />
</head>
<body>
  {% include header.html %}
  <main class="container">

<h2>&quot;Erasing Silence&quot;</h2>
<p class="meta">2022</p>
<div class="video-container">
  <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/IPGaetv-Cb0"
          title="&quot;Erasing Silence&quot;" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
</div>
<p><strong>Conducting Institution</strong>: Sogang University</p>
<p><strong>Industry-Academic Collaboration</strong>: d&rsquo;strict</p>
<p>Hate is different from violence, and it appears subtly in everyday life. We believe that the tragedies prevalent in our society today, such as epidemics, wars, disasters, and conflicts, stem from ‘hating each other’. This ‘hate’ has worsened with the development of the internet and social networks. We focused on ‘hating in the digital world’, a new social problem that amplifies these conflicts. In our VR project, we used digital elements such as texts, photos, and videos to illustrate our thoughts. We aimed to express the internet and social media world in an abstract manner within the VR space.</p>
<p>In our project, users must find and interact with 3D objects in the VR space, and by completing missions, they can solve problems and achieve positive outcomes. We wanted to convey to users that these small acts require great courage, but they can transform ‘hate’ into ‘love’ and actually help others. This project carries the message that we should not ignore everyday hate and should be courageous.</p>
<p><strong>With the support of the Ministry of Trade, Industry and Energy, this project was produced by the Virtual Augmentation Reality Business Group of the Department of Art and Technology at Sogang University.</strong></p>
<p><strong>Copyright © Team Erasing Silence All rights reserved.</strong></p>
<p><a href="/works/">← back</a></p>

  </main>
  {% include footer.html %}
</body>
</html>
